<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90476709612-8502abnecn5q84sb5ic0l8inuv9th7nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90476709612-8502abnecn5q84sb5ic0l8inuv9th7nn</string>
	<key>API_KEY</key>
	<string>AIzaSyDD2l8h0a9U_6Pt0qweZ6NNot-p1IFpgf8</string>
	<key>GCM_SENDER_ID</key>
	<string>90476709612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.giftApp</string>
	<key>PROJECT_ID</key>
	<string>simplon-alt3-cda</string>
	<key>STORAGE_BUCKET</key>
	<string>simplon-alt3-cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90476709612:ios:0ac1553409ec3b44ef07c9</string>
</dict>
</plist>